# OS
.DS_Store

# Env files
.env
.env.local

# Node
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist
build
.next

# Rust
/target
**/target
**/*.rs.bk

# Editor
.vscode/
.idea/

# Generated bindings
packages/interface/generated/

# Logs
*.log
